.controls-main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.control-item {
  /* Add any common styling for items if needed */
}

.select-button-wrapper {
  /* Adjust if specific sizing is needed */
}

.search-bar-wrapper {
  flex-grow: 1; /* Allows search bar to expand */
  margin: 0 15px; /* Horizontal margin for spacing */
  display: flex; /* Ensures the span inside can be 100% width */
}

.search-bar-wrapper .p-input-icon-left {
  width: 100%; /* Makes the icon-input combo fill the wrapper */
}

.search-bar-wrapper input[pInputText] {
  width: 100%; /* Makes the input field itself fill the span */
  border-radius: 15px;
}

.calendar-wrapper {
  /* Adjust if specific sizing is needed */
}
